.ct-box-slider{
	margin-right: -15px;
}
@media (max-width: 991px){
	.ct-box-slider{
		margin-left: -15px;
	}
}
.ct-box-slider__arrows .slick-arrow{
	padding: 0 1px 0 0;
	opacity: 0.3;
}
.ct-box-slider__arrows .slick-arrow:hover{
	opacity: 0.5;
}
.ct-box-slider__arrows .slick-arrow:hover:active{
	opacity: 0.55;
}
.ct-box{
	font-family: 'stenciletta-solid', sans-serif;
	font-size: 23px;
	line-height: 1.15;
	padding: 15px 0;
	display: block;
	color: #000;
}
.ct-box .hover{
	display: none;
}
.ct-box span{
	padding-top: 15px;
	display: block;
	max-width: 100%;
}
.ct-box .inner{
	/* background: #f6f4f4; */
	margin-bottom: -19px;
	color:#fff;
	display: -webkit-box;
	display: -ms-flexbox;
	/* display: flex; */
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	/* flex-direction: column; */
	text-align: center;
	/* padding: 15px 25px;
	height: 200px; 
  cursor: pointer;*/
}
.ct-box .inner .fa {
  font-size: 64px;
}
.ct-box:hover{
	color: #00719b;
}
.ct-box:hover .normal{
	display: none;
}
.ct-box:hover .hover{
	display: block;
}
@media (max-width: 479px){
	.ct-box{
		font-size: 18px;
	}
	.ct-box img{
		max-width: 50%;
	}
	.ct-box .inner{
		height: 150px;
		padding: 10px;
	}
}
