@font-face {
    font-family:'big noodle titling';
    src: url("../../public/fonts/big_noodle_titling.ttf");
}
html, body {
    background-color: #fff;
    /* color: #636b6f; */
    color:#fff;
    font-family:'big noodle titling';
    font-weight: 100;
    height: 100vh;
    margin: 0;
    overflow:hidden;
}

body{
    background-image: url("../../public/image/bg.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.title-masjid{
    background-color: #9e6b51;
}
div.text-center.title-masjid {
    max-width: 1000px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: -15px;
}

/* CSS WEATHER */
#weatherWidget{
    background-color: #1f567c0a !important;
}
#weatherWidgetInner {
    background-color: #d46327 !important;
}
iframe#weatherwidget-io-0 {
    height: 120px !important;
    margin-top: 50px !important;
    margin-left: -15px !important;
}

a.weatherwidget-io{
    height: 120px !important;
    margin-bottom:10px;
    margin-top:-15px;
    padding: 0px;
    overflow: hidden;
    text-align: left;
    text-indent: -299rem;
    display: block;
    position: unset !important;
}

#weatherWidget .weatherForecast {
    display: none !important;
}
.currentWeather{
    overflow: hidden;
}
.day.ng-scope {
    display: none !important;
}
marquee {
    /* scrollamount:; */
    margin-top: 5px;
    width: 100%;
}   
div#weatherWidgetInner {
    height: 182px !important;
}
/* h4 {
    font-size: 200%;
}

body {
    background-color: #fffaf2;
} */                        
.containerr {
    width: 100%;
    /* padding-top: 150px; */
}
.nav{ /* untuk menghilangkan icon slide hadits */
    display: none !important;
}