/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600); */
       
#slider {
    position: relative;
    overflow: hidden;
    /* margin: 20px auto 0 auto; 
    border-radius: 4px;
    width: 400px;
    height: 300px; */
    margin: 0 auto; width:605px;margin-top:-16px;height: 350px;margin-left: -30px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
    left: 0px;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    /* width: 400px;
    height: 300px; */
    width: 605px;
    height:350px;
    background-image: url("../../public/image/background_hadits.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    line-height: 376px;
    color: #f7f5f3;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 25px;
}

a.prev,
a.next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.prev:hover,
a.next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.prev {
    border-radius: 0 2px 2px 0;
}

a.next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

/* .slick-initialized .slick-slide{
    display:block;
    width:382px !important;
    margin-left: -25px;
} */

/* div#slider ul li p {
    position: fixed; //ini dicomment
    z-index: 99999999;
    line-height: 30px;
    margin-top: 150px;
} */

div#slider ul li p {
    z-index: 99999999;
    line-height: 30px;
    padding-top: 135px;
    margin: 0 auto;
    width: 100%;
    /* white-space: nowrap; */
}