@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&display=swap');

:root
{

  --color1:#17a43b; /* Green */
  --color2:#F59B29; /* yellow */
  /*--color2:#ff9600;*/ /* yellow */

  --gray1:#f1f1f1;

  /*
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
  */
}

.rightSideAreaNews
{
  min-height: 240px;
  /* max-height: 240px; */
  max-height: 300px;
  overflow: hidden;
}

.rightSideAreaNews
{
  margin-top: 113px;
}

.rightSideAreaNews .block
{
  padding: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e7e7e7;
}

.rightSideAreaNews .block .leftArea
{
  float: left;
  margin-right: 10px;
}
.rightSideAreaNews .block .leftArea .dateTime
{
  background-color: var(--color2);
  width: 80px;
  padding: 0px 0;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.rightSideAreaNews .block .leftArea .dateTime .date
{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: var(--white);
  display: block;
  text-align: center;
  margin-bottom: 7px;
  line-height: 30px;
  padding:7px 0;
}
.rightSideAreaNews .block .leftArea .dateTime .month-year
{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  display: block;
  text-align: center;
  background-color: var(--color1); 
  padding: 5px 0;
}

.rightSideAreaNews .block .RightDetailArea
{
  margin:0px 0;
  display: inline-block;
  width: 80%;
}

.rightSideAreaNews .block .RightDetailArea .title
{
   font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 20px;
}

.rightSideAreaNews .block .RightDetailArea .title a
{
  color:#333;
}

.rightSideAreaNews .block .RightDetailArea .title:hover a
{
  color: var(--color1);
  text-decoration: none;
}

.rightSideAreaNews .block .RightDetailArea .descri p
{
  margin-bottom: 0px;
  line-height: 22px;
  text-align: justify;
   font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.rightSideAreaNews .block .RightDetailArea .anchorBtn .btns
{
   font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: var(--color2);
  text-transform: uppercase;
}
.rightSideAreaNews .block .RightDetailArea .anchorBtn .btns:hover{
  color: var(--color2);
}

/* --------------------------css untuk info kajian---------------------------------- */
.rightSideAreaNews1
{
  min-height: 290px;
  /* max-height: 300px; */
  max-height: 370px;
  overflow: hidden;
}

.rightSideAreaNews1
{
  margin-top: 22px;
}

.rightSideAreaNews1 .block1
{
  padding: 10px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e7e7e7;
  height: 106px;
  max-height: 106px;
}

.rightSideAreaNews1 .block1 .leftArea1
{
  float: left;
  margin-right: 10px;
}
.rightSideAreaNews1 .block1 .leftArea1 .dateTime1
{
  background-color: var(--color2);
  width: 80px;
  padding: 0px 0;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.rightSideAreaNews1 .block1 .leftArea1 .dateTime1 .date1
{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: var(--white);
  display: block;
  text-align: center;
  margin-bottom: 7px;
  line-height: 30px;
  padding:7px 0;
}
.rightSideAreaNews1 .block1 .leftArea1 .dateTime1 .month-year1
{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  display: block;
  text-align: center;
  background-color: var(--color1); 
  padding: 5px 0;
}

.rightSideAreaNews1 .block1 .RightDetailArea1
{
  margin:0px 0;
  /* display: inline-block; */
  /* width: 80%; */
}

.rightSideAreaNews1 .block1 .RightDetailArea1 .title1
{
   font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  /* margin-bottom: 10px; */
  line-height: 20px;
  margin-top:-10px;
  height: auto;
  max-height: 82px;
}

.rightSideAreaNews1 .block1 .RightDetailArea1 .title1 a
{
  color:#333;
}

.rightSideAreaNews1 .block1 .RightDetailArea1 .title1:hover a
{
  color: var(--color1);
  text-decoration: none;
}

.rightSideAreaNews1 .block1 .RightDetailArea1 .descri1 p
{
  font-family: 'Calibri';
  margin-bottom: 0px;
  /* line-height: 22px; */
  text-align: left;
  font-weight: 400;
  float: right;
  width: 230px;
  /* margin-right: 55px; */
}

.rightSideAreaNews1 .block1 .RightDetailArea1 .anchorBtn1 .btns1
{
   font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: var(--color2);
  text-transform: uppercase;
}
.rightSideAreaNews1 .block1 .RightDetailArea1 .anchorBtn1 .btns1:hover{
  color: var(--color2);
}


#slideshow { 
  margin: 50px auto; 
  position: relative; 
  width: 240px; 
  height: 240px; 
  padding: 10px; 
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
}