html, body {
    background-color: #fff;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    overflow:hidden;
}

body{
    background-image: url("../../../public/image/bg.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
			
img{
	max-width: 100%;
	height: auto;
}